.content-middle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;

    height: 100%;
}

.content-bottom {
    display: flex;
    flex-direction: column;
    gap: 12px;

    flex-shrink: 0;
    padding-bottom: 16px;
}

.content-link {
    max-width: 700px;
    margin: 0 auto;
    padding-right: 16px;
    padding-left: 16px;
    
    text-align: center;
}

.content-link a {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.content-link a:hover {
    text-decoration: underline;
}

