.option {
    width: 100%;
    padding: 8px 12px;

    background: #121212;
    border-bottom: 1px solid #444444;
    list-style: none;
    cursor: pointer;
}

.option:hover {
    background: #444444;
}
