.button {
    padding: 8px;

    color: #ffffff;
    font-size: 0.875rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.button--primary {
    background: #1d7e05;
}

.button--primary:hover {
    background: #3d9e25;
}

.button--secondary {
    background: #444444;
}

.button--secondary:hover {
    background: #666666;
}
