.button {
    padding: 8px;

    color: #ffffff;
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.button--primary {
    background-color: #1d7e05;
}

.button--primary:hover {
    background-color: #3d9e25;
}

.button--secondary {
    background-color: #444444;
}

.button--secondary:hover {
    background-color: #666666;
}
