.modale-overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    padding: 16px;

    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.modale-container {
    width: fit-content;
    max-height: calc(100% - 60px);
    max-width: 600px;
    overflow: auto;
    margin: auto;
    margin-top: 60px;
    padding: 24px;

    background: #121212;
    border: 1px solid #444444;
}

.modale-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    margin-bottom: 8px;
    color: #888888;
}

.modale-title {
    font-size: 1.5rem;
}

.modale-close-icon {
    height: 32px;
    width: 32px;
    padding: 4px;

    border-radius: 100%;
    cursor: pointer;
}

.modale-close-icon:hover {
    background: #444444;
}
