body {
  margin: 0;
  min-width: 320px;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
}

#root {
  height: 100%;
}

:root {
  font-family: system-ui;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;

  color: #ffffff;
  background-color: #121212;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reset user style */

*,
::before,
::after {
  box-sizing: border-box;
  background-repeat: no-repeat;
}

* {
  padding: 0;
  margin: 0;
}

*:focus-visible {
  outline: 2px solid #fff;
}
